{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div>
  <canvas id="users-joined" width="800" height="450"></canvas>
</div>

<div>
  <canvas id="countries" width="800" height="450"></canvas>
</div>

<div>
  <canvas id="daily-active-users" width="800" height="450"></canvas>
</div>

<div>
  <canvas id="logins-to-pins" width="800" height="450"></canvas>
</div>
<div>
  <canvas id="avg-user-session" width="800" height="450"></canvas>
</div>
<div>
  <canvas id="map-views" width="800" height="450"></canvas>
</div>

<script>

/* USERS JOINED GRAPH */
new Chart(document.getElementById("users-joined"), {
  type: 'line',
  data: {
    labels: {{users_joined_dates|safe}},
    datasets: [{ 
        data: {{users_joined_counts|safe}},
        label: "Date",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Users joined by day'
    }
  }
});

/* COUNTRIES/PINS GRAPH */
var randomScalingFactor = function() {
  return Math.round(Math.random() * 100);
};

var countries_config = {
  type: 'pie',
  data: {
    datasets: [{
      data: {{out_countries_pin_count|safe}},
      backgroundColor: [
        "#" + Math.floor(Math.random()*16777215).toString(16),
        "#" + Math.floor(Math.random()*16777215).toString(16),
        "#" + Math.floor(Math.random()*16777215).toString(16),
        "#" + Math.floor(Math.random()*16777215).toString(16),
        "#" + Math.floor(Math.random()*16777215).toString(16),
      ],
      label: 'Countries'
    }],
    labels: {{out_countries|safe}}
  },
  options: {
    responsive: true
  }
};
new Chart(document.getElementById("countries"), countries_config);

/* DAILY ACTIVE USERS GRAPH */
new Chart(document.getElementById("daily-active-users"), {
  type: 'line',
  data: {
    labels: {{out_dau_dates|safe}},
    datasets: [{ 
        data: {{out_unique_logins|safe}},
        label: "Daily Active Users",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Daily Active Users'
    }
  }
});

/*LOGINS TO PINS*/
var ratio_config = {
  type: 'pie',
  data: {
    datasets: [{
      data: [Math.round({{out_ratio|safe}} * 100) / 100],
      backgroundColor: [
        "#" + Math.floor(Math.random()*16777215).toString(16),
      ],
      label: 'Countries'
    }],
    labels: ["Logins to Pins Ratio"]
  },
  options: {
    responsive: true
  }
};
new Chart(document.getElementById("logins-to-pins"), ratio_config);

/*
new Chart(document.getElementById("map-views"), {
  type: 'line',
  data: {
    labels: {{out_dates|safe}},
    datasets: [{ 
        data: {{out_counts|safe}},
        label: "Date",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Number of Map Views'
    }
  }
});

new Chart(document.getElementById("avg-user-session"), {
  type: 'line',
  data: {
    labels: {{out_dates|safe}},
    datasets: [{ 
        data: {{out_counts|safe}},
        label: "Date",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Number of Map Views'
    }
  }
});
*/
</script>
{% endblock %}